* {
    font-size: 12px;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0.8em;
}

html::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
  }

html::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
  }

html::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
  }

$primary: #5c36a9;
$primary2: #9396e1;
$secondary: #f6bbbb;

.App {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    nav {
        font-weight: 600;
        ul {
            list-style-type: none;
            margin: 0;
            margin-right: 2em;
            display: flex;
            align-items: center;
            li {
                padding-right: 4em;
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}

#landing {
    height: 93vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .ui.text.container {
        max-width: 500px;
    }
}
#about {
    height: 100vh;
    display: flex;
    align-items: center;
}

#skills {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
}

#portfolio {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-items: center;
}

#footer {
    height: 40vh;
    background: $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
