@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0.8em;
}

html::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
}

$primary: rgb(92, 54, 169);
$primary2: #9396e1;
$secondary: #f6bbbb;

.item {
    .content {
        .header {
            font-size: 16px;
            padding-bottom: 2em;
        }
    }
}

.App {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    nav {
        font-weight: 600;
        transition: ease-in-out 0.15s;
        ul {
            list-style-type: none;
            margin: 0;
            margin-right: 2em;
            display: flex;
            align-items: center;
            li {
                padding-right: 4em;
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}

#landing {
    min-height: 93vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    .buildings {
        height: 15%;
        width: 100%;
        min-width: 1000px;
        position: absolute;
        bottom: 0;
    }
    .ui.text.container {
        padding: 1em;
    }

    @media only screen and (max-width: 600px) {
        flex-direction: column;
        .buildings {
            display: none;
        }
    }
}
#about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .ui.very.padded.segment {
        padding-right: 2em;
    }
}

#skills {
    position: relative;
    width: 100%;
    .corner {
        position: absolute;
        top: 0%;
        right: 0%;
    }
    .grid-container {
        min-height: 100vh;
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding: 2em;
        position: relative;
        .Center {
            background: $primary;
            color: white;
            padding: 4em;
            box-shadow: 10px 10px 5px 1px rgba(92, 54, 169, 0.349);
            div {
                color: white;
            }
        }
        .Outer {
            box-shadow: 10px 10px 5px 1px rgba(92, 54, 169, 0.349);
        }
    }
}

#portfolio {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#footer {
    min-height: 20vh;
    background: $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
